.contact{
    width: 100vw;
    min-height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.detail{
    margin-top: -6rem;
}






@media (max-width: 576px) {
   
   .contact h2{
    top: 0;
    position: absolute;
    margin-top: 6rem;
   }
  }